.slidesinfo           { text-align: center }
.slidesinfo h1.title  { padding-top: 0.25in;
                        padding-bottom: 0.25in;
                        color: black;
                        font-size: 24pt;
                        font-family: Verdana, Arial, sans-serif;
                        font-weight: normal;
                      }
.slidesinfo h3.author { font-size: 18pt;
                      }

.slidesinfo p.pubdate { font-weight: normal;
                      }

.slidesinfo div.confgroup { font-style: italic;
                      }

.slidesinfo p.releaseinfo { padding-top: 0.25in;
                        font-weight: normal;
                      }

.slidesinfo p.copyright { padding-top: 0.5in 
                      }

.section   h1.title   { text-align: center;
                        color: #62659c;
                        font-family: Verdana, Arial, sans-serif;
                      }
.titlepage            { 
                        font-family: Verdana, Arial, sans-serif;
                        font-size: 14pt;
                        font-weight: normal;
                        background-color: white;
                      }
.foil                 {
                        font-family: Verdana, Arial, sans-serif;
                        font-size: 14pt;
                        font-weight: normal;
                        background-color: white;
                      }
.foil      h1.title   { text-align: center;
                        color: #62659c;
                        font-family: Verdana, Arial, sans-serif;
                        padding-top: 0pt;
                        margin-top: 0pt;
                      }

.foil   pre		{
						font-family: Courier, serif;
                        background-color: #dddddd;
			}

/* ====================================================================== */

i.emphasis            {
                        color: green;
                      }

tt		{
			font-family: Courier, serif;
			}

span.green            {
                        color: green;
                      }

span.blue             {
                        color: blue;
                      }

span.orange            {
                        color: orange;
                      }

span.red            {
                        color: red;
                      }

span.brown            {
                        color: brown;
                      }

span.violet            {
                        color: violet;
                      }

span.black            {
                        color: black;
                      }

.mediaobject          {
                        text-align: center;
                      }

/* ====================================================================== */

/*
body.navigation         { background-color: #cdceff;
                        }

div.navhead table tr td { background-color: #cdceff;
                        }

div.navfoot table tr td { background-color: #cdceff;
                        }
*/

/* e-smith info is #ff3e00 ... 
   e-smith.org/com use #e17200
*/

body.navigation         { background-color: #e17200;
                        }

div.navhead table tr td { background-color: #e17200;
                        }

div.navfoot table tr td { background-color: #e17200;
                        }

span.navheader          {
                          font-family: Verdana, Arial, sans-serif;
                          font-size: 10pt;
                          font-weight: normal;
                        }

span.navfooter          {
                          font-family: Verdana, Arial, sans-serif;
                          font-size: 8pt;
                        }

/* ====================================================================== */

.toc                  { text-decoration: none;
                        background-color: #62659c;
                        font-family: Verdana, Arial, sans-serif;
                        font-weight: normal;
			font-size: 10pt;
                        color: #cdceff;
                      }

.toc-slidesinfo       { 
                        background-color: #62659c;
                        color: white;
                        font-family: Verdana, Arial, sans-serif;
                        font-size: 12pt;
                        font-weight: normal;
                        text-align: center;
                      }

.toc-slidesinfo a     { 
                        color: white;
                      }

.toc-slidesinfo a:link { 
                        color: #cdceff;
                      }

.toc-slidesinfo a:visited { 
                        color: #cdceff;
                      }

.toc-section          { 
                        background-color: #62659c;
                        color: #cdceff;
                        font-family: Verdana, Arial, sans-serif;
                        font-size: 12pt;
                        font-weight: normal;
                        text-decoration: none;
                      }

.toc-section a        { text-decoration: none;
                        color: #cdceff;
                      }

.toc-section a:link   { text-decoration: none;
                        color: #cdceff;
                      }

.toc-section a:visited { text-decoration: none;
                        color: #cdceff;
                      }

.toc-foil             { 
                        background-color: #62659c;
                        color: #cdceff;
                        font-family: Verdana, Arial, sans-serif;
                        font-size: 10pt;
                        font-weight: normal;
                        text-decoration: none;
			margin-left: 10px;
                      }

.toc-foil a           { text-decoration: none;
                        color: #cdceff;
                      }

.toc-foil a:link      { text-decoration: none;
                        color: #cdceff;
                      }

.toc-foil a:visited   { text-decoration: none;
                        color: #cdceff;
                      }

/* ====================================================================== */
